{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ sitename }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="https://www.google.com/jsapi"></script>
<script> google.load("jquery", "1.3.2"); google.load("jqueryui", "1.7.2"); </script>
<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}admin_media/css/combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js" /></script>
{% endblock extrahead %}

{% block userlinks %}
<a href="{% url frontpage %}">Back to Site</a> /
{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}
{% comment %}
<a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a> /
{% endcomment %}
{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}
<a href="{% url djangoutils.auth.views.logout %}">{% trans 'Logout' %}</a>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ sitename }}{% trans ' administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
