{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ sitename }}{% endblock %}

{% block userlinks %}
<a href="{% url frontpage %}">Back to Site</a> /
{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}
{% comment %}
<a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a> /
{% endcomment %}
{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}
<a href="{% url djangoutils.auth.views.logout %}">{% trans 'Logout' %}</a>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ sitename }}{% trans ' administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
