{% extends 'guestbook/base.html' %}

{% block content %}
<h2>Add your greeting</h2>

<form action="{{ request.fullpath }}" method="POST">
  <div class="fieldWrapper span-22 last">
    <textarea name="message" rows="4" cols="20" style="height: 50px;"></textarea>
  </div>
  <div class="fieldWrapper span-8">
    <div class="em serif"><label for="form_user">From</label> {{ user.username }}</div>
  </div>
  <div class="span-2 last append-bottom"><input type="submit" value="Submit" /></div>
</form>
{% endblock content %}
